
input.small-text {
width: 50%;
height: 30px;
}

textarea {
	width: 50%;
	height: 150px;
}

table tr label{
    display: block;
    line-height: 1.75em;
    font-weight: bold;
    
}

table tr h2{
    font-size: 23px;
font-weight: 400;
margin: 0;
padding: 9px 0 4px 0;
line-height: 29px;
    
}

.form-table td.image  {
	display: flex;
	flex-direction: column;
	
}

.form-table td.image input {
	width: 50%;
height: 30px;
}

.form-table td.image img  {
	margin-left: 2px;
	
}

.spritz_options h3 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	line-height: 30px;
}

.container-admin {
	display: flex;
        flex-wrap: wrap;
}

.container-admin label {
	display: block;
line-height: 1.75em;
font-weight: bold;
margin-bottom: 25px;
}

.container-admin > div {
	margin-bottom: 50px;
	margin-right: 15px;
	padding: 15px;
}

.container-admin>* {
         flex: 1 1 160px;
}

.container-admin img {
	height: 150px;
	width: auto;
	margin-bottom: 15px;
}

.container-admin input[type=text] {
	display: block;
	margin: 10px 0;
}

.vc_element-icon.vc-icon-spritz {
    background-image: url(icon-spritz.svg) !important;
}